.contactNumberInput{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 9px;
    padding-left: 30px;
}

.userIcon{
    position: absolute;
    top: 10px; /* adjust as needed */
    left: 10px; /* adjust as needed */
    z-index: 5;
}